ion-text{
    text-align: center;
    font-family: Verdana;
    font-size: small;
}

ion-img{
    height: 200px;
    width: 200px;
    margin: 80px;
}

ion-content{
    --ion-background-color: lightblue;
}

ion-icon{
    color: grey;
}

ion-label{
    color:black;
}